body{
    background-color: #EB7E8A;
}

.imgCabRadope{
   height: 400px;
   width: 100%;
}

.Introdução{
    background-color:#FCD9D9 ;
    color: black;
    text-align: center;
    font-family: Calibri;
    font-size: x-large;
    border-style:solid ;
}
.textoBlog{
    background-color: white ;
    color: black;
    text-align: center;
    font-family: Calibri;
    font-size: x-large;
    border-style:solid ;
}

.Postagem1{
    background-color:#FCD9D9 ;
    color: black;
    text-align: center;
    font-family: Calibri;
    font-size: x-large;
    border-style:solid ;
}

.imgMaquiagem{
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.Comentários{
    background-color:beige ;
    color: black;
    text-align: center;
    font-family: Calibri;
    font-size: x-large;
    border-style:solid ;
}

.Postagem2{
    background-color:#FCD9D9 ;
    color: black;
    text-align: center;
    font-family: Calibri;
    font-size: x-large;
    border-style:solid ;
}

.textoFilme{
    background-color:white ;
    color: black;
    text-align: center;
    font-family: Calibri;
    font-size: x-large;
    border-style:solid ;
}

.SobreAutora{
    background-color:#FCD9D9 ;
    color: black;
    text-align: center;
    font-family: Calibri;
    font-size: x-large;
    border-style:solid ;
}

.imgSobreMim{
    width: 200px;
    height: 200px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 20px;
}

.textoAutora{
    background-color: white ;
    color: black;
    text-align: center;
    font-family: Calibri;
    font-size: x-large;
    border-style:solid ;
}
.imgCabRadope2{
    height: 400px;
    width: 100%;


}